@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452) ;
}
.calculator
{
    border: 2px solid rgba(255, 255, 255, 0.189);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 13px grey;

}
input {

    width: 300px;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    background-color: transparent;
    font-size: 30px;
   text-align: right;
   cursor: pointer;
   box-shadow: 3px 5px 13px grey;
   color: white;
   
}
input::placeholder{
    color: aliceblue;
}
button{
    
    width: 50px;
    height: 40px;
    margin: 13px;
    text-align: center;
    padding: 10px;
    border: 3px solid rgba(128, 128, 128, 0.847);
    text-align: center;
    border-radius: 10px;
    text-decoration: double;
    background-color: transparent;
    color: white;
    cursor: pointer;
    
}
.operator:hover{
    background-color: green;
}
button:hover{
    background-color: orange;
}
.equal{
    background-color: orange;
    color: black;
    text-decoration: solid;
}
.equal:hover{
    background-color: rgb(221, 142, 14) ;
}
.operator{
    background-color: rgb(59, 130, 59);
}
